<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="ru">
  <head>    
  </head>
  <body>
    <header>
        {% include 'includes/header.html' %}     
    </header>
    <main>
      {% for post in posts %}
        <ul>
          <li>
            Автор: {{ post.author.get_full_name }}
          </li>
          <li>
            Дата публикации: {{ post.pub_date|date:"d E Y" }}
          </li>
        </ul>
        <p>{{ post.text }}</p>    
        <a href="">все записи группы</a>
        {% if not forloop.last %}<hr>{% endif %}
      {% endfor %} 
    </main>       
    <footer class="border-top text-center py-3">
        {% include 'includes/footer.html' %}  
    </footer>
  </body>